{% extends "base.html" %}

{% block content %}

<section class="cart-section">

    <h1>

        <i class="bi bi-cart4"></i>

        Your Cart

    </h1>

    {% if cart_items %}

    <table class="cart-table">

        <tr>

            <th><i class="bi bi-image-fill"></i> Image</th>

            <th><i class="bi bi-cup-hot-fill"></i> Dish</th>

            <th><i class="bi bi-currency-rupee"></i> Price</th>

            <th><i class="bi bi-123"></i> Quantity</th>

            <th><i class="bi bi-cash-stack"></i> Total</th>

            <th><i class="bi bi-gear-fill"></i> Action</th>

        </tr>

        {% for item in cart_items %}

        <tr>

            <td>

                <img
                    src="{{ item.image }}"
                    width="80"
                >

            </td>

            <td>

                {{ item.dish_name }}

            </td>

            <td>

                ₹{{ item.price }}

            </td>

            <td>

                <form action="/decrease_quantity" method="POST" style="display:inline;">

                    <input
                        type="hidden"
                        name="dish_name"
                        value="{{ item.dish_name }}"
                    >

                     <button type="submit" class="qty-btn">

                        <i class="bi bi-dash-lg"></i>

                    </button>

                </form>

                <strong>

                    {{ item.quantity }}

                </strong>

                <form action="/increase_quantity" method="POST" style="display:inline;">

                    <input
                        type="hidden"
                        name="dish_name"
                        value="{{ item.dish_name }}"
                    >

                    <button type="submit" class="qty-btn">

                        <i class="bi bi-plus-lg"></i>

                    </button>

                </form>

            </td>

            <td>

                ₹{{ item.price * item.quantity }}

            </td>

            <td>

                <form action="/remove_item" method="POST">

                    <input
                        type="hidden"
                        name="dish_name"
                        value="{{ item.dish_name }}"
                    >

                    <button
                        class="delete-btn"
                        type="submit"
                    >

                        <i class="bi bi-trash-fill"></i>

                        Remove

                    </button>

                </form>

            </td>

        </tr>

        {% endfor %}

    </table>

    <div class="cart-summary">

        <h3>

            <i class="bi bi-wallet2"></i>

            Subtotal : ₹{{ subtotal }}

        </h3>

        <h3>

            <i class="bi bi-percent"></i>

            GST (5%) : ₹{{ gst }}

        </h3>

        <hr>

        <h2>

            <i class="bi bi-cash-stack"></i>

            Grand Total : ₹{{ grand_total }}

        </h2>

    </div>

    <div class="cart-buttons">

        <a href="/menu">

            <button class="secondary-btn">

                <i class="bi bi-arrow-left-circle-fill"></i>

                Continue to Order

            </button>

        </a>

        <a href="/checkout">

            <button class="primary-btn">

                Proceed to Checkout

                <i class="bi bi-arrow-right-circle-fill"></i>

            </button>

        </a>

    </div>

    {% else %}

    <h2 style="text-align:center;">

        <i class="bi bi-cart-x-fill"></i>

        Your Cart is Empty

    </h2>

    <div style="text-align:center; margin-top:20px;">

        <a href="/menu" class="browse-menu-btn">

                <i class="bi bi-grid-3x3-gap-fill"></i>

                Browse Menu

                <i class="bi bi-arrow-right"></i>

        </a>

    </div>

    {% endif %}

</section>

{% endblock %}