{% extends "base.html" %}

{% block content %}

<section class="checkout">

    <h1>🎉 Reservation Confirmed!</h1>

    <p style="text-align:center; margin-top:20px;">

        Thank you for choosing
        <strong>Varhadi Virasat</strong>.

        <br><br>

        Your table has been reserved successfully.

    </p>

    <div style="text-align:center; margin-top:30px;">

        <a href="/">

            <button>

                Back to Home

            </button>

        </a>

    </div>

</section>

{% endblock %}


